.book-card {
  display: flex;
  gap: 1rem;
  align-items: center;

  .cover {
    img {
      max-width: 250px;
      max-height: 250px;
    }
  }

  .descriptions {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
    text-align: center;
    align-items: center;

    :nth-child(1),
    :nth-child(2) {
      grid-column: 1 / 4;
      text-align: left;
    }

    :nth-child(2) {
      border-bottom: 1px solid rgb(var(--card-border-rgb));
      padding-bottom: 15px;
    }
  }
}